# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Data
faiss_index/
docs.pkl
data/
submission.json
submission_Matashkov_v0.json